
<h1>Dodaj novu pjesmu</h1>
<div class="dugme"><button mat-flat-button color="primary" routerLink="/pjesma/nova">Dodaj pjesmu</button>
    </div>
<p > <mat-icon>search</mat-icon>

    Filtriraj po nazivu pjesme ili izvođača<input  [(ngModel)]="ime" />
</p>



<table class="table table-primary" id="tt">
    <tr>
    <th>Naziv pjesme</th>
    <th>Naziv izvođača</th>
    <th>Url</th>
    <th>Ocjena</th>
    <th>Favorit</th>
    <th>Datum dodavanja</th>
    <th>Datum editovanja</th>
    <th>Kategorija</th>
    <th>Akcija</th>
    
    </tr>
    <tbody>
    <tr *ngFor="let s of GetPodaci()" >
      <td>{{s.naziv}}</td>
      <td>{{s.nazivIzvodjaca}}</td>
     <td><a href="{{s.url}}" target="_blank"><mat-icon>play_circle_outline</mat-icon></a></td>
     <td>{{s.ocjena}}</td>
     <td>{{s.favorit}}</td>
     <td>{{s.datumUnosaPjesme | date:'shortDate'}}</td>
     <td>{{s.datumEditovanja | date:'shortDate'}}</td>
     <td>{{s.kategorija!=null?s.kategorija.ime:""}}</td>
     
      <td>
        <button (click)="obrisi(s)">Obrisi</button>
        <button (click)="uredi(s)">Uredi</button>
  
      </td>
    </tr>
    </tbody>
  </table>

<app-pjesma-edit [urediPjesmu]="urediPjesmu"></app-pjesma-edit>

