<h1>Dodaj novu pjesmu</h1>
<button mat-flat-button color="primary" routerLink="/pjesma/nova">Dodaj pjesmu</button>


<app-generic-list [list]="pjesma">

    
    

    <ng-container content>
        <table mat-table [dataSource]="pjesma" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="naziv">
                <th mat-header-cell *matHeaderCellDef>Naziv</th>
                <td mat-cell *matCellDef="let element">{{element.naziv}}</td>

            </ng-container>

            <ng-container matColumnDef="nazivIzvodjaca">
                <th mat-header-cell *matHeaderCellDef>Naziv izvođača</th>
                <td mat-cell *matCellDef="let element">{{element.nazivIzvodjaca}}</td>

            </ng-container>

            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef>Url</th>
                <td mat-cell *matCellDef="let element">{{element.url}}</td>

            </ng-container>
            <ng-container matColumnDef="ocjena">
                <th mat-header-cell *matHeaderCellDef>Ocjena</th>
                <td mat-cell *matCellDef="let element">{{element.ocjena}}</td>

            </ng-container>
            <ng-container matColumnDef="favorit">
                <th mat-header-cell *matHeaderCellDef>Favorit</th>
                <td mat-cell *matCellDef="let element">{{element.favorit}}</td>

            </ng-container>
            <ng-container matColumnDef="datumUnosaPjesme">
                <th mat-header-cell *matHeaderCellDef>Datum unosa pjesme</th>
                <td mat-cell *matCellDef="let element">{{element.datumUnosaPjesme | date:'dd.MM.yyyy'}}</td>

            </ng-container>

            <ng-container matColumnDef="datumEditovanja">
                <th mat-header-cell *matHeaderCellDef>Datum editovanja pjesme</th>
                <td mat-cell *matCellDef="let element">{{element.datumEditovanja | date:'dd.MM.yyyy'}}</td>

            </ng-container>

            <ng-container matColumnDef="kategorija">
                <th mat-header-cell *matHeaderCellDef>Kategorija</th>
                <td mat-cell *matCellDef="let element">{{element.kategorija!=null?element.kategorija.ime:""}}</td>

            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Opcije</th>
                <td mat-cell *matCellDef="let element">
                    <a  mat-flat-button color="primary" (click)="uredi(element)">Uredi</a>
                    <button mat-flat-button color="warn" (click)="obrisi(element.id)">
                        Obriši
                    </button>
                </ng-container>
                    

           

            
            


            

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let row; columns:columnsToDisplay"></tr>
        </table>

    </ng-container>
</app-generic-list>

<app-pjesma-edit [urediPjesmu]="urediPjesmu"></app-pjesma-edit>

