.table-index{
    width: 100%;
    margin-top: 1rem;
}


.table-index a{
    margin-right: 1rem;
}

.container{
  width: 100%;
  margin-top: 1rem;
}
table.mat-table {
  
width: 160%;
}
.dugme{
  position: relative;
  left: 15rem;
  bottom: 2.8rem;
}

#tt{
  width: 130%;
}

table {
  table-layout: fixed;
  width: 120px;
  border: 1px solid rgb(0, 26, 255);
}

td {
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th {
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
input{
  padding: 5px;
  margin-left: 15px;
  
}
p{
  text-decoration: solid;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  thead th, tfoot th {
    font-family: "Times New Roman", Times, serif;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }