<form (ngSubmit)="saveChanges()" [formGroup]="form">
  <mat-form-field appearance="outline">
      <mat-label>*Naziv</mat-label>
      <input formControlName="naziv" matInput />
      <mat-error>Morate unijeti naziv pjesme</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Naziv izvođača</mat-label>
    <input formControlName="nazivIzvodjaca" matInput />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Url</mat-label>
  <input formControlName="url" matInput />
</mat-form-field>



<mat-form-field appearance="outline">
  <mat-label>Ocjena</mat-label>
  <input formControlName="ocjena" matInput />
</mat-form-field>


<div class="mb-3">
  <label class="form-label">Kategorija</label>
  <select class="form-control">
    <option *ngFor="let x of kategorije" value="{{x.id}}">{{x.ime}}</option>
  </select>
</div>




 <div>
     <button mat-flat-button color="primary" [disabled]="form.invalid">Snimi</button>
 </div>





</form>


